<div class="container">
  <div class="card">
    <div class="card-header">
      <h3><i class="fas fa-shopping-cart"></i>ventas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>DATE</th>
          <th>CLIENT</th>
          <th>BIKE</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let item of salelist">
          <td>{{item.id}}</td>
          <td>{{item.date}}</td>
          <td>{{item.client.name}}</td>
          <td>{{item.bike.model}}</td>
          <td>
            <button class="btn btn-warning"><i class="far fa-edit"></i>Editar</button>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
