<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container">
    <a href="" class="navbar-brand text-white"><i class="fas fa-bicycle"></i> BikeStore <i
      class="fas fa-bicycle"></i></a>


    <div class="navbar-collapse">
      <ul class="navbar-nav ml-auto">


        <div class="dropdown show">

          <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Bikes
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['bike/bike-list']">Bikes
              List</a></li>
            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['bike/bike-create']">Bikes
              create</a></li>
            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['bike/bike-update']">Bikes
              update</a></li>

          </div>
        </div>


        <div class="dropdown show">

          <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Sales
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['sales/sale-list']">sale
              list</a></li>
            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['sales/sale-create']">sale
              create</a></li>
            <li class="nav-item dropdown-item"><a class="text-primary nav-link" [routerLink]="['sales/sale-update']">sale
              update</a></li>

          </div>

        </div>


        <div class="dropdown show">

          <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Client
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

            <li class="nav-item"><a class="text-primary nav-link" [routerLink]="['clients/client-list']">Client list</a>
            </li>
            <li class="nav-item"><a class="text-primary nav-link" [routerLink]="['clients/client-create']">Client
              create</a></li>
            <li class="nav-item"><a class="text-primary nav-link" [routerLink]="['clients/client-update']">Client
              update</a></li>


          </div>

        </div>


      </ul>
    </div>


  </div>
</nav>
