<div class="image ">
<div class="container ">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 >Ingresar</h3>

			</div>
			<div class="card-body">
				<form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Email" formControlName="username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" formControlName="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input  type="submit" value="Login" class="btn text-white float-right login_btn">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
</div>
