@import url('https://fonts.googleapis.com/css?family=Numans');

.image{
background-image: url('../../../assets/image/bicicleta.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 620px;
font-family: 'Numans', sans-serif;


}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(14, 19, 17, 0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #8372e6;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #140472;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #140472;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgb(96, 87, 221);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
