<div class="container">
  <div class="card">
    <div class="card-header">
      <h3><i class="fas fa-users"></i>Listado de Clientes</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>DOCUMENT</th>
          <th>EMAIL</th>
          <th>PHONE NUMBER</th>
          <th>DOCUMENT TYPE</th>

        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let item of clientlist">
          <td>{{item.id}}</td>
          <td>{{item.namel}}</td>
          <td>{{item.document}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>{{item.documentType}}</td>
          <td>
            <button class="btn btn-warning"><i class="far fa-edit"></i>Editar</button>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
