<div class="card-header">
  <h3><i class="fas fa-bicycle"></i>Catalogo</h3>
</div>


<!--menu de buscar por document de cliente-->
<!--falta añadir el formgroup -->
<form [formGroup]="SearchForm">
  <input type="text" formControlName="document" (keyup)="searchClient()">
</form>


<!--listar el carrito de los productos -->

<div class="d-flex bd-highlight">

  <div class="d-flex flex-row-reverse bd-highlight p-2 flex-shrink-1 bd-highlight">

    <div class="ml-5 card-header">
      <div class="row">
        <div class="col-mr-3">
          <div class="card mt-4">
            <div class="card-body">
              <div class="card-tittle">
                <p class="card-text btn btn-primary">Car COP $</p>
                <td class="list-group" *ngFor="let item of saleListatCar">

                  <p class="list-group-item">Serial:{{item.bikeSerial}}</p>
                  <p class="list-group-item">${{item.bikesPrice}}</p>

                </td>
                <!--mostrar el total de todos los productos agregados al carrito-->
                <p class="list-group-item bg-success">total: ${{suma}}</p>
                <!--buton para comprar todos los productos que fueron agregados al carrito-->
                <button class="btn btn-danger">Comprar</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--listar todos los item de bike-->
  <div class="container p-2 flex-shrink-1 bd-highlight">
    <div class="row">
      <div class="col-sm" *ngFor="let item of salelist">

        <div
          class="card border-primary mb-2 card-img-top card-deck card card-cols-1 card-cols-md-2 card-columns d-flex justify-content-between aling-items-center"
          style="width: 18rem;">

          <div>
            <!-- <img class="card-img-top"  [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-height: 286px;" alt="bike image"/>-->
          </div>

          <div class=" col mb-4">
            <h5 class="card-title"><label>Model:</label>{{item.model}}</h5>
            <p class="card-text"><label>Id:</label>{{item.id}}</p>
          </div>
          <ul class="col mb-4">
            <li class="list-group-item"><label>Serial:</label>{{item.serial}}</li>
            <li class="list-group-item"><label>Price: $</label>{{item.price}}</li>

          </ul>
          <div class="col mb-4">
            <button (click)="addToCar(item)" class="btn btn-success"><i class="fas fa-shopping-cart"></i>AGREGAR AL
              CARRITO
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>




