<div class="container">
  <div class="card">
    <div class="card-header">
      <h3><i class="fas fa-biking"></i>Listado de Bicicletas</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>MODEL</th>
          <th>PRICE</th>
          <th>SERIAL</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let item of bikeList">
          <td>{{item.id}}</td>
          <td>{{item.model}}</td>
          <td>{{item.price}}</td>
          <td>{{item.serial}}</td>
          <td>
            <button class="btn btn-success" [routerLink]="['../bike-update', item.id]" routerLinkActive="routerLink"><i
              class="far fa-edit"></i>Editar
            </button>
            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
