<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Crear Bicicleta</h3>
    </div>
    <div class="card-body">


      <form class="" [formGroup]="bikeFormGroup" novalidate (ngSubmit)="saveBike()">
        <div class="form-group">
          <label>Model</label>
          <input type="text" name="model" formControlName="model" class="form-control">
          <div
            *ngIf="bikeFormGroup.get('model').invalid && (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched)">
            <div *ngIf="bikeFormGroup.get('model').errors.required">
              <p class="text-danger">El campo es requerido, por favor introduzca todos los datos</p>
            </div>

            <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
              <p class="text-danger">El campo debe contener maximo 5 caracteres </p>
            </div>

          </div>
        </div>
        <div class="from-group">
          <label>Price</label>
          <input type="number" name="price" formControlName="price" class="form-control">
        </div>
        <div class="form-group">
          <label>Serial</label>
          <input type="text" name="serial" formControlName="serial" class="form-control">
        </div>
        <div>
          <button [disabled]="bikeFormGroup.invalid" class="btn btn-primary" type="submit">Crear</button>
        </div>
      </form>


    </div>
  </div>

</div>
