<div class="row">
  <div class="nav flex-column bg-primary">
    <a class="nav-link text-light" [routerLink]="['../sales/sale-create']">sale-create</a>
    <a class="nav-link text-light" [routerLink]="['../sales/sale-list']">sale-list</a>
  </div>
  <div class="col-lg-10">

    <router-outlet></router-outlet>
  </div>

</div>
