<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Actualizar Bicicleta</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="bikeFormGroup" novalidate (ngSubmit)="saveBike()">

        <div class="form-group">
          <label>Model</label>
          <input type="text" formControlName="model" class="form-control">

          <div
            *ngIf="bikeFormGroup.get('model').invalid && (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched)">
            <div *ngIf="bikeFormGroup.get('model').errors.required">
              <p class="text-danger">El campo es requerido</p>
            </div>
            <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
              <p class="text-danger">El campo debe de tener maximo 5 caracteres</p>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="number" formControlName="price" class="form-control">
        </div>
        <div class="form-group">
          <label>Serial</label>
          <input type="text" formControlName="serial" class="form-control">
        </div>
        <div>
          <button [disabled]="bikeFormGroup.invalid" class="btn btn-success" type="submit">Atualizar</button>
        </div>
      </form>
    </div>
  </div>

</div>








